.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
.DS_Store
/build
/captures
gradle.xml
app/app.iml

# User-specific configurations
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/inspectionProfiles/
*.iml

# apk files
*.apk
