<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.alhazmy13.camerapicker">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="net.alhazmy13.mediapicker.Image.ImageActivity"/>
        <activity android:name="net.alhazmy13.mediapicker.Video.VideoActivity"/>
        <activity android:name="net.alhazmy13.mediapicker.Sound.SoundActivity"/>
    </application>

</manifest>
