<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.alhazmy13.mediapicker.adapter_rxjava">

    <application >
        <receiver android:name=".service.ImagePickerReceiver"/>
        <intent-filter>
            <action android:name="net.alhazmy13.mediapicker.adapter_rxjava.service">
            </action>
        </intent-filter>
    </application>

</manifest>
